
.content-container {
    display: flex;
}

.header {
    background-color: #34bc36;

    color: white;
    padding: 0.5%;
    padding-inline: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 100;
    font-family:'Pacifico' ; 
}

.contact-number {
    font-size: 14px;
}

.sidebar {
    background-color: #5c5c5c;
    padding: 1%;
    width: 25%;

    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}


.sidebar-button {
    padding: 10px;
    width: 100%;
    padding-left: 20px;
}


.main-content {
    border: 5px solid #5c5c5c;
    border-radius: 15px;
    margin: 20px;
    margin-right: 2%;
    flex-grow: 1;
    background-color: #717171;
}
