.card-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.card {
    width: 240px;
    padding: 20px 16px;
    text-align: center;
    background: #4a4a4a;
    border: 3px solid #5c5c5c;
    border-radius: 8px;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}


/* Inputs */
.field {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #4a4a4a;
    border-radius: 4px;
    padding: 8px 16px;
}

.input-icon {
    height: 20px;
    width: 20px;
    fill: #dddddd;
    color: #dddddd;

}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: white;
}

/* Text */
.title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

/* Buttons */
.card-button {
    margin-top: 16px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* Hover & Focus */
.field input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.toggle-password {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    margin-left: 8px;
}
