/* From Uiverse.io by alexruix */ 
.card {
width: 190px;
padding: 1.9rem 1.2rem;
text-align: center;
background: #4a4a4a;
border: 3px solid #5c5c5c;
margin: auto;
}

/*Inputs*/
.field {
margin-top: .5rem;
display: flex;
align-items: center;
justify-content: center;
gap: .5em;
background-color: #4a4a4a;
border-radius: 4px;
padding: .5em 1em;
}

.input-icon {
height: 1em;
width: 1em;
fill: #dddddd;
}

.input-field {
background: none;
border: none;
outline: none;
width: 100%;
color: white;

}

/*Text*/
.title {
margin-bottom: 1rem;
font-size: 1.5em;
font-weight: 500;

}

/*Buttons*/
.card-button {
margin: 1rem;
font-weight: bold;
font-size: .8em;
text-transform: uppercase;
padding: 0.6em 1.2em;
transition: all .3s ease-in-out;
}

.btn-link {
display: block;
font-size: .75em;
transition: color .3s ease-out;
}

/*Hover & focus*/
.field input:focus::placeholder {
opacity: 0;
transition: opacity .3s;
}