* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    font-family: Arial, sans-serif;
    color: #dddddd;
    background-color: #717171
  }
  
  .header {
    background-color: #3aaf00;
    color: white;
    padding: 0.5%;
    padding-inline: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-weight: 100;
    font-family:'Pacifico' ; 
  }
  
  .contact-number {
    font-size: 14px;
  }
  
  .content-container {
    display: flex;
  }
  
  .sidebar {
    background-color: #5c5c5c;
    padding: 1%;
    width: 25%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  
  
  .sidebar-button {
    padding: 10px;
    width: 100%;
    background-color: #4a4a4a;
    border: 3px solid #5c5c5c;
    border-radius: 10px; 
    color: #dddddd;
    font-size: 14px;
    cursor: pointer;
  }
  
  
  .sidebar-button:hover {
    background-color: #3aaf00;
    color: white;
  }

  .sidebar-button:active {
    background-color: #339900;
  }

  .main-content {
    border: 5px solid #5c5c5c;
    border-radius: 15px;
    margin: 20px;
    margin-right: 2%;
    flex-grow: 1;
  }
  

  .custom-checkbox{
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
  }
  
  .checkbox-container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
  }
  
  checkbox-container:hover .custom-checkbox {
    border-color: #66b3ff;
  }
  
  /* Галочка (checkmark) */
  .custom-checkbox::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Видимый чекбокс при выборе */
  .checkbox-input:checked + .custom-checkbox {
    background-color: #4caf50;
    border-color: #4caf50;
  }
  
  /* Отображение галочки при выборе */
  .checkbox-input:checked + .custom-checkbox::after {
    opacity: 1;
  }
  
  .checkbox-input {
    display: none;
  }


  .switch {
    --button-width: 3.5em;
    --button-height: 1.7em;
    --toggle-diameter: 1.2em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-grey: #cccccc;
    --color-green: #4caf50;
   }
  
   .slider {
    margin-bottom: calc(var(--button-height) /-3.5) ;
    margin-left: 20px;
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
   }
   
   .slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
   }
   
   .switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
   }
   
   .switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   }
   
   .switch input[type="checkbox"] {
    display: none;
   }
   
   .switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
   }
   
   .switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
   }